<!DOCTYPE html>
<html>
<head>
  <title>aAmeetup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
     <div id="nav_top">
       <ul id="nav_links">
         <li>
           <%= link_to "MessageBoard", chats_url, class: "nav_link"  %>
         </li>
         <li>
         <%= link_to "Events", events_url, class: "nav_link"  %>
         </li>
       </ul>
     </div>
    <% if current_user %>
      <form action="<%= session_url %>" method="post" accept-charset="utf-8">
        <%= render 'shared/auth_token' %>
        <input type="hidden" name="_method" id="" value="delete" />
        <button type="submit" name="" id="sign_out_button" value="Sign Out">Sign Out</button>
      </form>
      <%= button_to "Sign Out", session_url, class: "sign_out_button", method: "delete" %>
    <% end %>
  </div>
  <div id="content">
    <div id="flash">
      <%= render 'shared/flash_notice' %>
    </div>
    <%= yield %>

    <br />
    <% if logged_in? %>
      <%= link_to "View my profile", user_url(current_user.id) %>
    <% end %>

    <br />

    <% unless current_user %>
      <%= link_to "Login", new_session_url %>
    <% end %>
  </div>
</body>
</html>
